{% extends "layout.njk"%}

{% block content %}

<div id="wrapper">
    <h1>Contato</h1>
    <h3>Se quiser conversar, entre em contato!</h3>
    <h3>Estou quase sempre online</h3>
    <p><a href="mailto:samu.ks@outlook.com" target="_black">Mande um e-mail <i class="fas fa-envelope"></i></a></p>
    <p><a href="https://api.whatsapp.com/send?phone=5584981587638" target="_black">Um WhatsApp <i class="fab fa-whatsapp"></i></a></p>
    <p><a href="https://www.instagram.com/sr_cost/" target="_black">Segue no instagram <i class="fab fa-instagram"></i> </a></p>
</div>

{% endblock %}