{% extends "layout.njk"%}

{% block content %}

<div id="wrapper">
    <img src="https://avatars0.githubusercontent.com/u/12562944?s=460&u=27b4d592488c0af727db907f0faee4b8717fae88&v=4" alt="Imagem de {{about.name}}">
    <h1>Samuel Costa</h1>
    <h3>Desenvolvedor Full Stack</h3>
    <a href="#" id="foo"></a>
    <p class="word"><object data="" type=""></object></p>
    <p id="showHide"><a href="/#foo" id="showHideInfo"><i class="fas fa-plus info"></i> Informações</a></p>
    <div class="plusInfo active">
        <div>
            <h3>Quem é Samuel?</h3>
            <div class="text">
                <p>
                    Apaixonado por programação, afixionado por tecnologia e sonhador.
                    Este, em suma, poderia resumir Samuel. <br><br>

                    Filho de militar e uma dona de casa, sempre incentivado a buscar uma
                    maior indepência e responsabilidade. A se esforçar,
                    buscando resultados solidos, a pensar de diversas formas e ângulos para
                    concluir objetivos.<br><br>

                    Organizado, calmo, objetivo, educado, articulado, ético e responsavel.
                    Estas são algumas das caracteristicas que compõe a minha pessoa.
                    Como profissional, realizar atividades com excelência, ética e humildade,
                    entregando valor atrelado ao resultado é o objetivo.<br><br>
                    Esforçado em aprender para, assim, receber os frutos, crescendo e se adaptando a
                    qualquer cenário. <br><br>
                    Buscando realizar um sonho, uma vida melhor e um copo de café. <br>
                    <i class="fas fa-mug-hot"></i>
                </p>
            </div>
        </div>
        <div>
            <h3>Formação</h3>
            <div class="text area">
                <p>
                    <b>Técnico em Informática pelo Instituto Federal de Educação, Ciência e Tecnologia do RN <a href="https://portal.ifrn.edu.br/" target="_black">(IFRN)</a>.</b><br><br>

                    O IF abriu as portas para os mais diversos campos da área de informática, tal como Desenvolvimento (Java, Python, Delphi, JavaScript, etc...),
                    Redes de Computadores, Sistemas Operacionais, Manutenção de Computadores e Eletrônica Analógica e Digital, dentre outras.<br><br>

                    Ano de Inicio: 2012<br>
                    Ano de Conclusão: 2016<br><br><br>

                    <b>Bacharelado em Tecnologia da Informação pela Universidade Federal do Rio Grande do Norte <a href="https://ufrn.br/" target="_black">(UFRN)</a></b>.<br><br>

                    Como não poderia deixar de ser, busco na UF o conhecimento especializado e o diferencial, tanto para o crescimento profissional, como para o pessoal. <br><br>

                    Ano de Inicio: 2019.1<br>
                    Ano de Conclusão (previsto): 2024
                </p>
            </div>
        </div>
        <div>
            <h3>Conhecimentos</h3>
            <div class="list">
                <ul>
                    <li><a href="https://www.javascript.com/" target="_black" alt="javascript"><i class="fab fa-js-square" style="color:yellow"></i></a></li>
                    <li><a href="https://nodejs.org/en/" target="_black" alt="nodejs"><i class="fab fa-node" style="color:#43853d"></i></a></li>
                    <li><a href="https://pt-br.reactjs.org/" target="_black" alt="react"><i class="fab fa-react" style="color:#61dafb"></i></a></li>
                    <li><a href="https://getbootstrap.com/" target="_black" alt="bootstrap"><i class="fab fa-bootstrap" style="color:#7952b3"></i></a></li>
                    <li><a href="https://angular.io/" target="_black" alt="angular"><i class="fab fa-angular" style="color:#B10101"></i></a></li>
                    <li><a href="https://www.ruby-lang.org/pt/" target="_black" alt="ruby"><i class="fas fa-gem" style="color:#CC342D"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}